body {
  background: #121211;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  margin: 0;
  padding: 0;
  cont-size: 16px;
}

#app {
  background: #121211;
}

#app .header {
  position: absolute;
  transition: all .2s linear;
  border: 0;
  beight: 45px;
  background: #2b2b2b;
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
}

#app .content {
  padding-top: 47px;
  position: relative;
  overflow-x: hidden;
}

#app .search-bar {
}

#app .search-bar input {
  font-size: 14px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #121211;
  width: 97%;
  color: #fff;
  border: 0 none;
  border-radius: 5px;
  outline: 1px solid #444442;
  padding: 10px 0 5px 5px;
  margin: 8px 5px;
}

#app .listview {
}

#app .listview ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app .listview li {
  position: relative;
  background: #242424;
  border-bottom: 1px  solid #121211;
  border-top: 1px solid #444442;
  min-height: 110px;
}

#app .listview li:hover, #app .manga-list li:active {
  background: #121211!important;
}

#app .listview li a {
  text-decoration: none;
  transition: all .2s linear;
  display: inline-block;
  min-height: 110px;
  width: 100%;
}

#app .listview li img {
  border: 2px solid #444442;
  width: 100px;
  height: 100px;
  background-color: #444442;
  position: absolute;
  margin-top: 4px;
  left: 5px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#app .listview li h3,
#app .listview li p {
  font-size: 13px;
  margin: 15px 55px 0 125px;
  line-height: 16px;
  position: relative;
}