body {
  background: #121211;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  margin: 0;
  padding: 0;
  cont-size: 16px;
}

.app {
  background: #121211;
  height: auto;
}

.header {
  position: absolute;
  transition: all .2s linear;
  border: 0;
  beight: 45px;
  background: #2b2b2b;
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
}

.content {
  padding-top: 47px;
  position: relative;
  overflow-x: hidden;
}

.search-bar {
}

.search-bar input {
  font-size: 14px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #121211;
  width: 97%;
  color: #fff;
  border: 0 none;
  border-radius: 5px;
  outline: 1px solid #444442;
  padding: 10px 0 5px 5px;
  margin: 8px 5px;
}

.listview {
}

.listview ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listview li {
  position: relative;
  background: #242424;
  border-bottom: 1px  solid #121211;
  border-top: 1px solid #444442;
  min-height: 110px;
}

.listview li:hover, .manga-list li:active {
  background: #121211!important;
}

.listview li a {
  text-decoration: none;
  transition: all .2s linear;
  display: inline-block;
  min-height: 110px;
  width: 100%;
}

.listview li img {
  border: 2px solid #444442;
  width: 100px;
  height: 100px;
  background-color: #444442;
  position: absolute;
  margin-top: 4px;
  left: 5px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.listview li h3,
.listview li p {
  font-size: 13px;
  margin: 15px 55px 0 125px;
  line-height: 16px;
  position: relative;
}

.mangaview {
  width: 100%;
  height: auto;
}

.mangaview .slider {
  display: block;
  transform: translate3d(0px, 0, 0);
  transition: transform 0.3s linear;
  width:100%;
  height: auto;
}

.mangaview .slider > img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  min-height: 110px;
  position: absolute;
  top:0;
  right:0;
}

.mangaview .slider > img:nth-child(1) {
  position: relative;
  display: block;
}

.mangaview .prev {
  width: 10%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.mangaview .next {
  width: 90%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 10%;
  z-index: 1;
}